{% extends 'base.html'%}
{% block content %}
<div class="container">
<p id="current" class="d-flex justify-content-center">Current score 0/0</p>

<div class=" d-flex justify-content-center">
<button type="button" id='play_it' class=" d-flex justify-content-center js_play_sound" data-source='play_pitch(261.6, "sine")' >C4</button>
</div>

<div class="d-flex justify-content-center">
	<button id="0" class='m-2'></button>
	<button id="1" class='m-2'></button>
	<button id="2" class='m-2'></button>
	<button id="3" class='m-2'></button>
	<button id="4" class='m-2'></button>
	<button id="5" class='m-2'></button>
	<button id="6" class='m-2'></button>
	<button id="7" class='m-2'></button>
	<button id="8" class='m-2'></button>
</div>

</div>

<script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.4/jquery.min.js"></script>
<script type='text/javascript'>
// Begin's audio context and sets som variables we'll use in it.
var context = new AudioContext()
var o = null
var g = null
var tone = 261.6;
// prevents butttons that play sounds from performing defult function.
document.addEventListener('DOMContentLoaded', function () {
	$(".js_play_sound").on("click", function (e) {
		e.preventDefault()
		var $target = $(e.target)
		eval($target.data("source"))
	})
	$(".js_stop_sound").on("click", function (e) {
		e.preventDefault()
		o.stop()
	})
}, false)

// A funtion that plays a desired pitch
function play_pitch(frequency, type) {
	o = context.createOscillator()
	frequency = notes_frequencies[document.getElementById("play_it").getAttribute("da").toString()]
	console.log(frequency)
	g = context.createGain()
	o.type = type
	o.connect(g)
	o.frequency.value = frequency
	g.connect(context.destination)
	o.start(0)
	g.gain.exponentialRampToValueAtTime(0.00001, context.currentTime + 1)
}

// begining of the 'Game' part
var correct = 0;
var total = 0;
var letters = ['C', 'C# / D♭', 'D', 'D# / E♭', 'E', 'F', 'F# / G♭', 'G', 'G# / A♭', 'A', 'A# / B♭', 'B'];
var octive = [0, 1, 2, 3, 4, 5, 6, 7, 8];
var notes = [];
// lets create the different combinations notes and octives
for (x in octive) {
	for (y in letters) {
		notes.push(octive[x].toString() + ' ' + letters[y]);
	}
}
var notes_frequencies = {};
for (z in notes) {
    // The math calculates the frequency of the not based on it's position
    // in the list compared to middle A
	console.log(notes[z] + ' ' + (440 * ((2 ** (1 / 12)) ** (z - 57))).toString())
	notes_frequencies[notes[z]] = 440 * ((2 ** (1 / 12)) ** (z - 57))
}
// function to create list of random buttons that also has the right answer
function generate_buttons(correct_note){
    var display_notes = null
    var display_notes = []
    display_notes.push(correct_note)
    while (display_notes.length <= 8){
        var new_note = notes[Math.floor(Math.random() * notes.length)]
        if (new_note in display_notes === false){
            display_notes.push(new_note)
        }
    }
    return display_notes
}
// function that updates ths buttons with id 0-6 into choises
function update_buttons(ls_of_notes){
    var ids = 0;
    while (ls_of_notes.length > 0) {
        var index = Math.floor(Math.random() * ls_of_notes.length)
        var this_note = ls_of_notes[index]
        ls_of_notes.splice(index, 1)
    	var btn = document.getElementById(ids.toString());
    	btn.innerHTML = this_note;
    	btn.setAttribute('onclick', 'is_correct("' + this_note + '")')
        ids ++
    }
}
// set a random pitch to the guess button
var current_var = notes[Math.floor(Math.random() * notes.length)];
// update display
document.getElementById('play_it').setAttribute('data-source', "play_pitch(0, 'sine')");
document.getElementById('play_it').setAttribute('da', current_var);
document.getElementById('play_it').innerHTML = current_var;
// is correct function is used by each of the auto Generated buttons to see if
// the note is correct
function is_correct(button_var) {
	// logging to console for debuging purpose
	console.log(button_var == document.getElementById("play_it").getAttribute("da").toString())
	// logging to console for debuging purpose
	console.log('Button var = ' + button_var + ', and the note to guess is = ' + document.getElementById("play_it").innerHTML)
	// this part checks if the button is the same as the note that we are looking for
	if (document.getElementById("play_it").getAttribute("da").toString() == button_var) {
		// if it is, we add to both the total var and the correct var
		correct += 1;
		total += 1;
		// Then we get a new random note to figure out then update the display
		current_var = notes[Math.floor(Math.random() * notes.length)];
		document.getElementById('play_it').setAttribute('data-source', "play_pitch('" + notes_frequencies[current_var] + "', 'sine')");
		document.getElementById('play_it').setAttribute('da', current_var);
		document.getElementById('play_it').innerHTML = current_var;
        update_buttons(generate_buttons(current_var))
	} else {
		// if it is not we add to just the total var
		total += 1
	}
	// Updates the score display
	document.getElementById("current").innerHTML = "Current score " + correct.toString() + '/' + total.toString();
}
// this update the buttons and gives them each a an onclick that calls the
// is_correct function to check if this is the correct button for the note.
update_buttons(generate_buttons(current_var))
</script>

{% endblock %}
