{% extends 'base.html'%}
{% block content %}
<p id="to_guess"></p>
<p id="current">Current score 0/0</p>

<div class="btn-toolbar" role="toolbar" aria-label="Toolbar with button groups">

    <div class="btn-group mr-2" role="group" aria-label="First group">
        <button type="button" id='A' class="btn btn-secondary">A</button>
        <button type="button" id='B' class="btn btn-secondary">B</button>
        <button type="button" id='C' class="btn btn-secondary">C</button>
        <button type="button" id='D' class="btn btn-secondary">D</button>
        <button type="button" id='E' class="btn btn-secondary">E</button>
        <button type="button" id='F' class="btn btn-secondary">F</button>
        <button type="button" id='G' class="btn btn-secondary">G</button>
      </div>
      <div class="btn-group mr-2" role="group" aria-label="Second group">
        <button type="button" id='A#' class="btn btn-secondary">A#</button>
        <button type="button" id='B#' class="btn btn-secondary">B#</button>
        <button type="button" id='C#' class="btn btn-secondary">C#</button>
        <button type="button" id='D#' class="btn btn-secondary">D#</button>
        <button type="button" id='E#' class="btn btn-secondary">E#</button>
        <button type="button" id='F#' class="btn btn-secondary">F#</button>
        <button type="button" id='G#' class="btn btn-secondary">G#</button>
      </div>
      <div class="btn-group" role="group" aria-label="Third group">
        <button type="button" id='A♭' class="btn btn-secondary">A♭</button>
        <button type="button" id='B♭' class="btn btn-secondary">B♭</button>
        <button type="button" id='C♭' class="btn btn-secondary">C♭</button>
        <button type="button" id='D♭' class="btn btn-secondary">D♭</button>
        <button type="button" id='E♭' class="btn btn-secondary">E♭</button>
        <button type="button" id='F♭' class="btn btn-secondary">F♭</button>
        <button type="button" id='G♭' class="btn btn-secondary">G♭</button>
      </div>

  </div>



<script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.4/jquery.min.js"></script>
<script type='text/javascript'>
var correct = 0;
var total = 0;
var letters = ['A', 'B', 'C', 'D', 'E', 'F', 'G'];
var symboles = ['', '#', '♭'];
var notes = [];
// lets create the different combinations of sharp, flat and regular here
for (x in symboles) {
    for (y in letters) {
        notes.push(letters[y]+symboles[x]);
    }
}
// set a random one as the one we are trying to guess
var current_var = notes[Math.floor(Math.random() * notes.length)];
// display it
document.getElementById("to_guess").innerHTML = current_var;
// is correct function is used by each of the note buttons
function is_correct(button_var){
    // logging to console for debuging purpose
    console.log(button_var == document.getElementById("to_guess").innerHTML)
    // logging to console for debuging purpose
    console.log('Button var = '+button_var+', and the note to guess is = '+document.getElementById("to_guess").innerHTML)
    // this function checks if the button is the same as the note that we are looking for
    if (document.getElementById("to_guess").innerHTML == button_var){
        // if it is, we add to both the total var and the correct var
        correct += 1;
        total += 1;
        // Then we get a new random note to figure out then update the display
        current_var = notes[Math.floor(Math.random() * notes.length)];
        document.getElementById("to_guess").innerHTML = current_var;
    }
    else {
        // if it is not we add to just the total var
        total += 1
    }
    // Updates the score display
    document.getElementById("current").innerHTML = "Current score " + correct.toString() + '/' + total.toString();
}
// this create the buttons and gives them each an onclick that calls the
// is_correct function to check if this is the correct button for the note.
for (n in notes){
    var btn = document.getElementById(notes[n])
    btn.innerHTML = notes[n];
    btn.setAttribute('onclick', 'is_correct("'+notes[n]+'")')
    // btn.setAttribute('class', 'btn btn-light')
    // document.body.appendChild(btn);
}



</script>


{% endblock %}
