{% extends 'base.html'%}
{% block content %}
{% load static %}
<div class="d-flex justify-content-center">
    <img id="to_guess" src="{% static 'note_identification/A.png' %}" alt="">
</div>
<p id="current" class="d-flex justify-content-center">Current score 0/0</p>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.4/jquery.min.js"></script>
<script type='text/javascript'>
    function update_da(valid_note){
        if (valid_note.includes('_sharp')){
            var this_note = valid_note.charAt(0) + '#'
        }
        else{
            var this_note = valid_note
        }
        document.getElementById("to_guess").setAttribute('da', this_note)
    }
var correct = 0;
var total = 0;
var valid_notes = ['C', 'C_sharp', 'D♭', 'D', 'D_sharp', 'E♭', 'E', 'F', 'F_sharp', 'G♭', 'G', 'G_sharp', 'A♭', 'A', 'A_sharp', 'B♭', 'B']
var letters = ['A', 'B', 'C', 'D', 'E', 'F', 'G'];
var symboles = ['', '#', '♭'];
var notes = [];
// lets create the different combinations of sharp, flat and regular here
for (x in symboles) {
    for (y in letters) {
        notes.push(letters[y]+symboles[x]);
    }
}
// set a random one as the one we are trying to guess
var current_var = valid_notes[Math.floor(Math.random() * valid_notes.length)];
// display it
document.getElementById("to_guess").setAttribute('src', "/static/note_identification/"+current_var+".png");
update_da(current_var)
// is correct function is used by each of the note buttons
function is_correct(button_var){
    // logging to console for debuging purpose
    console.log(button_var == document.getElementById("to_guess").getAttribute("da").toString())
    // logging to console for debuging purpose
    console.log('Button var = '+button_var+', and the note to guess is = '+document.getElementById("to_guess").getAttribute("da").toString())
    // this function checks if the button is the same as the note that we are looking for
    if (document.getElementById("to_guess").getAttribute("da").toString() == button_var){
        // if it is, we add to both the total var and the correct var
        correct += 1;
        total += 1;
        // Then we get a new random note to figure out then update the display
        current_var = valid_notes[Math.floor(Math.random() * valid_notes.length)];
        document.getElementById("to_guess").setAttribute('src', "/static/note_identification/"+current_var+".png");
        update_da(current_var)
    }
    else {
        // if it is not we add to just the total var
        total += 1
    }
    // Updates the score display
    document.getElementById("current").innerHTML = "Current score " + correct.toString() + '/' + total.toString();
}
// this create the buttons and gives them eacha an onclick that calls the
// is_correct function to check if this is the correct button for the note.
for (n in notes){
    var btn = document.createElement("BUTTON");
    btn.innerHTML = notes[n];
    btn.setAttribute('onclick', 'is_correct("'+notes[n]+'")')
    document.body.appendChild(btn);
}

</script>


{% endblock %}
