<!DOCTYPE html>
<html lang="en">
  <style>
    #key_container {
      position: absolute;
      height: 200px;
      border: 5px solid black;
      overflow: hidden;
    }
    .white_note {
      height: 100%;
      width: 50px;
      background: white;
      float: left;
      border-right: 1px solid black;
      position: relative;
    }
    .black_note {
      position: absolute;
      height: 60%;
      width: 50%;
      left: 75%;
      z-index: 1;

      background: #333;
    }
  </style>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/tone/14.5.41/Tone.js"></script>
  <!--Container for keyboard-->
  <div id="key_container"></div>
  <!--Keyboard Script-->
  <script>
    //Init new Polyphonic synth
    var synth = new Tone.PolySynth().toMaster();
    //Keyboard note array
    var notes = ["C", "D", "E", "F", "G", "A", "B"];
    //QWERTY keyboard keys to play piano
    //var keys = ["A", "W", "S", "E", "D", "F", "T", "G", "Y", "H", "U", "J"];
    //empty html string
    var html = "";
    //Creates 2 octaves(2 containers of all piano key divs in notes array)
    for (var octave = 0; octave < 2; octave++) {
      //Creates a piano key for each note in note array
      for (var i = 0; i < notes.length; i++) {
        var note = notes[i];
        var has_sharp = true;

        //Notes 'E' and 'B' don't have sharps. changes their "has_sharp" bool to false.
        if (note == "E" || note == "B") has_sharp = false;
        //Creates white piano keys
        html += `<div class='white_note' onmousedown='note_down(this,false)' onmouseup='note_up(this,false)' onmouseleave='note_up(this,false)' data-note='${note +
          (octave + 4)}'>`;
        //For notes except 'E' and 'B', adds black piano key after a white key
        if (has_sharp) {
          html += `<div class='black_note' onmousedown='note_down(this,true)' onmouseup='note_up(this,true)' onmouseleave='note_up(this,true)' data-note='${note +
            "#" +
            (octave + 4)}'></div>`;
        }
        //Add div to end of the note container to start next one
        html += `</div>`;
      }
    }
    window.addEventListener("keydown", check_key_press, false);
    window.addEventListener("keyup", check_key_release, false);

    function check_key_press(key) {
      if (key.keyCode == "65") {
        synth.triggerAttack("C4", "16n");
      } else if (key.keyCode == "87") {
        synth.triggerAttack("C#4", "16n");
      } else if (key.keyCode == "83") {
        synth.triggerAttack("D4", "16n");
      } else if (key.keyCode == "69") {
        synth.triggerAttack("D#4", "16n");
      } else if (key.keyCode == "68") {
        synth.triggerAttack("E4", "16n");
      } else if (key.keyCode == "70") {
        synth.triggerAttack("F4", "16n");
      } else if (key.keyCode == "84") {
        synth.triggerAttack("F#4", "16n");
      } else if (key.keyCode == "71") {
        synth.triggerAttack("G4", "16n");
      } else if (key.keyCode == "89") {
        synth.triggerAttack("G#4", "16n");
      } else if (key.keyCode == "72") {
        synth.triggerAttack("A4", "16n");
      } else if (key.keyCode == "85") {
        synth.triggerAttack("A#4", "16n");
      } else if (key.keyCode == "74") {
        synth.triggerAttack("B4", "16n");
      }
    }
    function check_key_release(key) {
      synth.releaseAll();
      if (key.keyCode == "65") {
        synth.triggerRelease("C4", "16n");
      } else if (key.keyCode == "87") {
        synth.triggerRelease("C#4", "16n");
      } else if (key.keyCode == "83") {
        synth.triggerRelease("D4", "16n");
      } else if (key.keyCode == "69") {
        synth.triggerRelease("D#4", "16n");
      } else if (key.keyCode == "68") {
        synth.triggerRelease("E4", "16n");
      } else if (key.keyCode == "70") {
        synth.triggerRelease("F4", "16n");
      } else if (key.keyCode == "84") {
        synth.triggerRelease("F#4", "16n");
      } else if (key.keyCode == "71") {
        synth.triggerRelease("G4", "16n");
      } else if (key.keyCode == "89") {
        synth.triggerRelease("G#4", "16n");
      } else if (key.keyCode == "72") {
        synth.triggerRelease("A4", "16n");
      } else if (key.keyCode == "85") {
        synth.triggerRelease("A#4", "16n");
      } else if (key.keyCode == "74") {
        synth.triggerRelease("B4", "16n");
      }
    }
    //Assign all lower functions to 'key_container' divs
    document.getElementById("key_container").innerHTML = html;
    //Changes black notes back to #333, and turn #ddd into white
    function note_up(elem, is_sharp) {
      var note = elem.dataset.note;
      elem.style.background = is_sharp ? "#333" : "white";
      synth.triggerRelease(note, "16n");
    }
    //Trigger press animation and sound.
    function note_down(elem, is_sharp) {
      var note = elem.dataset.note;
      elem.style.background = is_sharp ? "black" : "#ddd";
      synth.triggerAttack(note, "16n");
      //Prevents overlapping buttons from both pressing. ie: if your press C#, C or D won't also play.
      event.stopPropagation();
    }
  </script>
</html>
