<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
  </head>
  <style>
    #key_container {
      position: absolute;
      height: 200px;
      border: 5px solid black;
      overflow: hidden;
    }
    .white_note {
      height: 100%;
      width: 50px;
      background: white;
      float: left;
      border-right: 1px solid black;
      position: relative;
    }
    .black_note {
      position: absolute;
      height: 60%;
      width: 50%;
      left: 75%;
      z-index: 1;

      background: #333;
    }
  </style>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/tone/14.5.41/Tone.js"></script>
  <div id="key_container"></div>
  <script>
    var synth = new Tone.PolySynth().toMaster();
    var notes = ["C", "D", "E", "F", "G", "A", "B"];
    var keys = ["A", "W", "S", "E", "D", "F", "T", "G", "Y", "H", "U", "J"];
    var html = "";

    for (var octave = 0; octave < 2; octave++) {
      for (var i = 0; i < notes.length; i++) {
        var note = notes[i];
        var key = keys[i];
        var has_sharp = true;

        if (note == "E" || note == "B") has_sharp = false;

        html += `<div class='white_note' onmousedown='note_down(this,false)' onmouseup='note_up(this,false)' onmouseleave='note_up(this,false)' data-note='${note +
          (octave + 4)}'>`;

        if (has_sharp) {
          html += `<div class='black_note' onmousedown='note_down(this,true)' onmouseup='note_up(this,true)' onmouseleave='note_up(this,true)' data-note='${note +
            "#" +
            (octave + 4)}'></div>`;
        }
        html += `</div>`;
      }
    }

    document.getElementById("key_container").innerHTML = html;

    function note_up(elem, is_sharp) {
      elem.style.background = is_sharp ? "#333" : "white";
    }

    function note_down(elem, is_sharp) {
      var note = elem.dataset.note;
      elem.style.background = is_sharp ? "black" : "#ddd";
      synth.triggerAttackRelease(note, "16n");
      event.stopPropagation();
    }
  </script>
</html>
